/* NAVBAR */

div.navbar {
  position: fixed;
      top: 0;
      width: 100%;
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
}

li {
   float: left;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

li a:hover {
   background-color: #111;
}
div.navbar-right {
float:right;
}

div.navbar-logo {
  float: left;
}

.active {
    background-color: #4CAF50;
}

div.foot {
  position: fixed;
   bottom: 0;
   width: 100%;
}

/* CARDS */

.card {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 30px;
    width: 10%;
    text-align: center;
    transition: .5s ease;
    float: left;
    position: absolute;
    top: 80px; left: 100px;
}

   .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 1px;
    up: 19%;
}


.card2 {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 30px;
    width: 10%;
    text-align: center;
    transition: .5s ease;
    float: left;
    position: absolute;
    top: 80px; left: 250px;
}

   .card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 1px;
    up: 19%;
}


/* CSS Image et Avatar */

img:hover {
  -webkit-filter: sepia(1);
  filter: sepia(1);
}

img.avatar {
border-radius: 50%;
}








/* BUTTON */

.btn-blue {
    background-color: #224bdd;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
   transition-duration: 0.4s;
   border-radius: 30px;
   border: 2px solid #000000;
   padding: 32px 10px;
   position:absolute;
   transition: .5s ease;
   top: 35%;
   left: 40%;
}

.btn-blue:hover {
    background-color: #c9173d;
    color:rgb(0, 0, 0);
    border: 2px solid #4CAF50;
    padding-right: 40px;
  }





/* TABS */
